*{
    margin: 0;
    padding: 0;
    color:white;

}

#navbar{
    height: 60px;
    background-color: rgba(255, 0,0,1)
}
button{
    background-color: blueviolet;
}
a{
    margin-right: 230px;
    text-decoration: none;
}
.box{
    margin-top: 50px;
    height: 150px;
    width: 150px;
    border: 2px solid blue;
    background-color: rgb(223, 171, 149);
    display: inline-block;
}

#card1{
    
}